.s-icon-btn{
    width: 60px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.s-icon-title{
     background-image: url('/assets/Icons/admin-blog/title.png');
}
.s-icon-img{
     background-image: url('/assets/Icons/admin-blog/img.png');
}
.s-icon-art{
     background-image: url('/assets/Icons/admin-blog/art.png');
}
.s-no-rounded-right{
   border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}